<launch>

  <arg name="x_size" default="50.0"/>
  <arg name="y_size" default="50.0"/>
  <arg name="z_size" default="3.0"/>

  <arg name="obs_num" default="100"/>
  <arg name="occl_num" default="3"/>

  <node pkg ="map_generator" name ="random_forest" type ="random_forest_denser" output = "screen">    
    <remap from="~odometry"   to="empty"/>    
    <param name="init_state_x"   value="0"/>
    <param name="init_state_y"   value="0"/>
    <param name="map/x_size"     value="$(arg x_size)" />
    <param name="map/y_size"     value="$(arg y_size)" />
    <param name="map/z_size"     value="$(arg z_size)" />
    <param name="map/resolution" value="0.09"/>        

    <param name="ObstacleShape/seed" value="1"/>
    <param name="map/obs_num"    value="$(arg obs_num)"/>
    <param name="map/occl_num"   value="$(arg occl_num)"/>
    <param name="map/local_sampling_radius" value="1.0"/>
            
    <!-- <param name="map/obs_num"    value="$(arg p_num)"/> -->
    <param name="ObstacleShape/lower_rad" value="1.0"/>
    <param name="ObstacleShape/upper_rad" value="1.2"/>
    <param name="ObstacleShape/lower_hei" value="2.0"/>
    <param name="ObstacleShape/upper_hei" value="2.0"/>        

    <!-- <param name="map/circle_num" value="$(arg c_num)"/>         -->
    <param name="ObstacleShape/radius_l" value="0.7"/>        
    <param name="ObstacleShape/radius_h" value="0.8"/>        
    <param name="ObstacleShape/z_l" value="0.7"/>        
    <param name="ObstacleShape/z_h" value="0.8"/>        
    <param name="ObstacleShape/theta" value="0.5"/>        

    <param name="sensing/radius" value="5.0"/>        
    <param name="sensing/rate"   value="10.0"/>        
  </node>

  <node pkg ="rviz" name ="rviz" type ="rviz" output = "screen" args = "-d $(find exploration_manager)/config/map_gen.rviz" />

</launch>  
